{% load static %}
<section id="features" class="services-area pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-title text-center pb-40">
                        <div class="line m-auto"></div>
                        <h3 class="title">Intuitivo e simples! <br/><br/><span> Os recursos necessários para seu aprendizado:</span></h3>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                        <div class="services-icon">
                            <img class="shape" src="{% static 'images/services-shape.svg' %}" alt="shape">
                            <img class="shape-1" src="{% static 'images/services-shape-1.svg' %}" alt="shape">
                            <i class="lni lni-baloon"></i>
                        </div>
                        <div class="services-content mt-30">
                            <h4 class="services-title"><a href="#">Sala live</a></h4>
                            <p class="text">Aula realizadas ao vivo e com recurso de gravação.</p>
                            <a class="more" href="#">Learn More <i class="lni lni-chevron-right"></i></a>
                        </div>
                    </div> <!-- single services -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="services-icon">
                            <img class="shape" src="{% static 'images/services-shape.svg' %}" alt="shape">
                            <img class="shape-1" src="{% static 'images/tomates.svg' %}" alt="shape">
                            <i class="lni lni-cog"></i>
                        </div>
                        <div class="services-content mt-30">
                            <h4 class="services-title"><a href="#">Pomodoro</a></h4>
                            <p class="text">Recurso que permite gerenciamento de tempo vida de estudo  .</p>
                            <a class="more" href="#">Learn More <i class="lni lni-chevron-right"></i></a>
                        </div>
                    </div> <!-- single services -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                        <div class="services-icon">
                            <img class="shape" src="{% static 'images/services-shape.svg' %}" alt="shape">
                            <img class="shape-1" src="{% static 'images/agenda.svg' %}" alt="shape">
                            <i class="lni lni-bolt-alt"></i>
                        </div>
                        <div class="services-content mt-30">
                            <h4 class="services-title"><a href="#">Agenda</a></h4>
                            <p class="text">Recurso que permite a organização das tarefas do dia.</p>
                            <a class="more" href="#">Learn More <i class="lni lni-chevron-right"></i></a>
                        </div>
                    </div> <!-- single services -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>